    <div class="background">

            <section class="col-4">
                <div  class="one" >
                    <img src="/assets/Combined-Shape.png">
                </div>
                <div class="two">
                    <img  src="/assets/dashboard.png">
                </div>
                <div class="three">
                    <img id="three-1" src="/assets/verification.png">
                </div>
                <div class="four">
                    <img  src="/assets/busnies.png">
                </div>
                <div class="five">
                    <img  src="/assets/settings.png">
                </div>
                <div class="six">
                    <img  src="/assets/user 2.png">
                </div>

                <label class="leftside1">Sasi Kumar</label>

                <div class="seven">
                    <img  src="/assets/logout.png">
                </div>
                
                <label class="leftside2">Logout</label>

            </section>
       <section class="col-12">

            <div class="navbar">
                    <div class="icons">
                            <div class="selection">
                                <select>  
                                    <option value = "BMW"> Document ID
                                    </option>  
                                    <option value = "Mercedes"> Document ID 
                                    </option>  
                                
                                </select>  
                            </div>
                            <div class="search">
                                    <input type="text" class="searchTerm" placeholder="Filter">
                                    <button type="submit" class="searchButton">
                                    <i class="fa fa-search"></i>
                                    </button>
                            </div>
                            
     <div class="buttons"> 

          <!-- <button class="bt1"><i class="fa fa-calendar" style="font-size:20px"></i> 12-10-2020 <i class="fa fa-arrows-h"></i>30-10-2020</button> -->
                               
                                
<!-- --------------------------DATE RANGE--------------------------------------------------- -->
           <mat-form-field appearance="fill" style="flex: 1; " class="bt1">
               
            
               <mat-date-range-input [rangePicker]="picker" [formGroup]="filterForm">
               <input matStartDate   formControlName="fromDate" placeholder="Start Date" >
               <input matEndDate   formControlName="toDate" placeholder="End Date">
                </mat-date-range-input>

                <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>

               <mat-date-range-picker #picker></mat-date-range-picker>
               <mat-label>Enter a date range</mat-label>

            

          </mat-form-field> 


<!-- ---------------------------------------ANOTHER BUTTONS------------------------------------------------- -->
                                
                            <button mat-stroked-button id="bt2" (click)="getDateRange()" type="submit">Submit</button>
                            <!-- <i class="fa fa-list"></i>  -->

                            <button class="bt2">Clear All</button>
                            
     </div>

              
                    </div> 
              
                
            </div>

            <div class="table-one">

                <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8"> 


                    <!-- Position Column -->
                    <ng-container matColumnDef="documentid" >
                      <th mat-header-cell *matHeaderCellDef> Document ID </th>
                      <td mat-cell *matCellDef="let element"> {{element.documentid}} </td>
                    </ng-container> 

                  
                    <!-- Name Column -->
                     <ng-container matColumnDef="createdon" >
                      <th mat-header-cell *matHeaderCellDef>Created On</th>
                      <td mat-cell *matCellDef="let element"> {{element.createdon | date: 'dd/MM/yyyy'}} </td>
                    </ng-container> 

                   
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name</th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

 
                      <ng-container matColumnDef="status">
                        <th mat-header-cell  *matHeaderCellDef > Status </th>
                        <td mat-cell *matCellDef="let element" >

                      <button mat-stroked-button id="bt3" (click)="Details()" type="submit">In Progress</button>
                            
                        </td>
                      </ng-container>

                      
                  
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  
                  

            </div>


        </section> 

    </div>
